{% extends 'news/base.html' %}
{% block content %}
<div class="container mx-auto">
    <div class="flex justify-center">
        <div class="w-2/5 px-8 py-8 mt-12 border shadow">
            <form class="w-full" method="POST">
                {% csrf_token %}
                <div class="mb-2">
                    <label class="block text-gray-700 text-sm font-bold mb-2">
                        Username
                    </label>
                    {{ form.username }}
                    <span class="text-sm text-red-600 font-medium">{{ form.username.errors }}</span>
                </div>
                <div class="mb-2">
                    <label class="block text-gray-700 text-sm font-bold mb-2">
                        Email
                    </label>
                    {{ form.email }}
                    <span class="text-sm text-red-600 font-medium">{{ form.email.errors }}</span>
                </div>
                <div class="mb-2">
                    <label class="block text-gray-700 text-sm font-bold mb-2">
                        Password
                    </label>
                    {{ form.password1 }}
                    <span class="text-sm text-red-600 font-medium">{{ form.password1.errors }}</span>
                </div>
                <div class="mb-2">
                    <label class="block text-gray-700 text-sm font-bold mb-2">
                        Password
                    </label>
                    {{ form.password2 }}
                    <span class="text-sm text-red-600 font-medium">{{ form.password2.errors }}</span>
                </div>

                <button class="w-full px-4 py-2 my-4 bg-indigo-700 text-white rounded" type="submit" name="button">Signup</button>
            </form>
            <div class='mb-1 text-center'>
                Already have an account? <a href="{% url 'login' %}"><span class="text-indigo-700 font-bold">Login</span></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}